h1 {
	font-size: 28px;
	line-height: 56px;
}

dl {
	border: 1px solid #ccc;
	width: 500px;
	margin: 50px auto;
	text-align: center;
	line-height: 40px;
}

dt {
	background-color: #f6f6f6;
	border-top: 1px solid #ccc;
	margin-top: -1px;
	cursor: pointer;
}

dd {
	margin: 0;
	padding: 5px 0;
	display: none;
	color: white;
	background-color: red;
}

dd.active {
	color: #fff;
	background-color: green;
}